In [1]:
import numpy as np
import pandas as pd

In [26]:
emma = pd.read_csv("Extension_emma.csv", index_col=0)
tochi =pd.read_csv("Extension_tochi.csv",index_col=0)

In [3]:
emma.describe()

,A1,A2,A3,A4,A5,A6,A8_Acknowledged_Problem,A8_Emphasize_control,A9_Visits,A9_Training,...,D4_Intervention,D4_Planting_Materials,D4_Training,D5_Good_farm_Practices,D5_Cooperation,D5_Other,E3_Physical_Removal,E3_Burn,E3_Report,Unnamed: 43
count,25.000000,25.000000,25.000000,25.000000,24.000000,25.000000,25.00,25.000000,25.000000,25.000000,...,25.000000,25.000000,25.000000,25.000000,25.000000,24.000000,25.000000,25.0,25.00000,0.0
mean,7.120000,0.800000,0.640000,8.560000,16.666667,8.280000,0.96,0.360000,0.160000,0.560000,...,12.160000,12.280000,12.040000,12.200000,12.120000,12.750000,0.800000,0.6,0.24000,NaN
std,3.865661,0.408248,0.489898,27.222968,8.605694,27.307691,0.20,0.489898,0.374166,0.506623,...,32.732094,32.687306,32.776363,32.717223,32.746908,33.303936,0.408248,0.5,0.43589,NaN
min,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.00000,NaN
25%,4.000000,1.000000,0.000000,0.000000,8.000000,0.000000,1.00,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.00000,NaN
50%,8.000000,1.000000,1.000000,1.000000,18.000000,0.000000,1.00,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.500000,1.000000,1.0,0.00000,NaN
75%,10.000000,1.000000,1.000000,1.000000,23.000000,1.000000,1.00,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.00000,NaN
max,13.000000,1.000000,1.000000,99.000000,29.000000,99.000000,1.00,1.000000,1.000000,1.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,1.000000,1.0,1.00000,NaN

In [27]:
emma= emma.drop('Unnamed: 43', axis =1)
tochi = tochi.drop('Unnamed: 43', axis =1)

In [5]:
emma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 42 columns):
A1                           25 non-null int64
A2                           25 non-null int64
A3                           25 non-null int64
A4                           25 non-null int64
A5                           24 non-null float64
A6                           25 non-null int64
A7                           25 non-null object
A8_Acknowledged_Problem      25 non-null int64
A8_Emphasize_control         25 non-null int64
A9_Visits                    25 non-null int64
A9_Training                  25 non-null int64
A9_Virus_free_material       25 non-null int64
A9_Physical_Removal          25 non-null int64
A10_Other_farmers            25 non-null int64
A10_Reputable_Sources        25 non-null int64
A10_IITA                     25 non-null int64
A11a                         25 non-null int64
A11b_Control                 25 non-null int64
A11b_Trainings               25 non-null int64
A11b_Indirect_Interaction    25 non-null int64
A11b_Diagnosis               25 non-null int64
B5_Distortion                25 non-null int64
B5_Mosaic                    25 non-null int64
B5_Yellow-Colouration        25 non-null int64
B5_Whiteflies                25 non-null int64
B5_Low_Yield                 25 non-null int64
D3_Infrastructure            25 non-null int64
D3_Funds                     25 non-null int64
D3_Trainings                 25 non-null int64
D3_Inputs                    25 non-null int64
D3_Mobility                  25 non-null int64
D3_Recruitment               25 non-null int64
D4_More_Research             25 non-null int64
D4_Intervention              25 non-null int64
D4_Planting_Materials        25 non-null int64
D4_Training                  25 non-null int64
D5_Good_farm_Practices       25 non-null int64
D5_Cooperation               25 non-null int64
D5_Other                     24 non-null float64
E3_Physical_Removal          25 non-null int64
E3_Burn                      25 non-null int64
E3_Report                    25 non-null int64
dtypes: float64(2), int64(39), object(1)
memory usage: 8.4+ KB

In [28]:
cols= list(emma.columns.values)

In [8]:
cols

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8_Acknowledged_Problem',
 'A8_Emphasize_control',
 'A9_Visits',
 'A9_Training',
 'A9_Virus_free_material',
 'A9_Physical_Removal',
 'A10_Other_farmers',
 'A10_Reputable_Sources',
 'A10_IITA',
 'A11a',
 'A11b_Control',
 'A11b_Trainings',
 'A11b_Indirect_Interaction',
 'A11b_Diagnosis',
 'B5_Distortion',
 'B5_Mosaic',
 'B5_Yellow-Colouration',
 'B5_Whiteflies',
 'B5_Low_Yield',
 'D3_Infrastructure',
 'D3_Funds',
 'D3_Trainings',
 'D3_Inputs',
 'D3_Mobility',
 'D3_Recruitment',
 'D4_More_Research',
 'D4_Intervention',
 'D4_Planting_Materials',
 'D4_Training',
 'D5_Good_farm_Practices',
 'D5_Cooperation',
 'D5_Other',
 'E3_Physical_Removal',
 'E3_Burn',
 'E3_Report']

In [29]:
#Remove columns that are not int64
remove = ['A5', 'A7', 'D5_Other']
for i in remove:
    cols.remove(i)

In [13]:
cols

['A1',
 'A2',
 'A3',
 'A4',
 'A6',
 'A8_Acknowledged_Problem',
 'A8_Emphasize_control',
 'A9_Visits',
 'A9_Training',
 'A9_Virus_free_material',
 'A9_Physical_Removal',
 'A10_Other_farmers',
 'A10_Reputable_Sources',
 'A10_IITA',
 'A11a',
 'A11b_Control',
 'A11b_Trainings',
 'A11b_Indirect_Interaction',
 'A11b_Diagnosis',
 'B5_Distortion',
 'B5_Mosaic',
 'B5_Yellow-Colouration',
 'B5_Whiteflies',
 'B5_Low_Yield',
 'D3_Infrastructure',
 'D3_Funds',
 'D3_Trainings',
 'D3_Inputs',
 'D3_Mobility',
 'D3_Recruitment',
 'D4_More_Research',
 'D4_Intervention',
 'D4_Planting_Materials',
 'D4_Training',
 'D5_Good_farm_Practices',
 'D5_Cooperation',
 'E3_Physical_Removal',
 'E3_Burn',
 'E3_Report']

In [14]:
#import cohen's kappa function
from sklearn.metrics import cohen_kappa_score as ck

In [30]:
print(ck(emma.A9_Training,tochi.A9_Training))

0.8376623376623377

In [33]:
#Iteratively compare kappa for all columns in datasets from both scorers
score =[]
for i in cols:
    kappa=ck(emma[i],tochi[i])
    score.append(kappa)

C:\Users\Olabode\Anaconda\lib\site-packages\sklearn\metrics\classification.py:370: RuntimeWarning: invalid value encountered in true_divide
  k = np.sum(w_mat * confusion) / np.sum(w_mat * expected)

In [34]:
score

[1.0,
 1.0,
 1.0,
 0.9196141479099679,
 0.9291784702549575,
 1.0,
 1.0,
 1.0,
 0.8376623376623377,
 1.0,
 0.8962655601659751,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.8962655601659751,
 1.0,
 1.0,
 1.0,
 nan,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.8663101604278075,
 0.8355263157894737,
 1.0,
 1.0,
 0.8355263157894737,
 1.0,
 0.9331550802139037,
 0.7983870967741935,
 1.0,
 0.788135593220339,
 1.0,
 1.0,
 1.0]

In [35]:
df_scores = pd.DataFrame({'Column': cols, 'Score': score})

In [36]:
df_scores

                       Column     Score
0                          A1  1.000000
1                          A2  1.000000
2                          A3  1.000000
3                          A4  0.919614
4                          A6  0.929178
5     A8_Acknowledged_Problem  1.000000
6        A8_Emphasize_control  1.000000
7                   A9_Visits  1.000000
8                 A9_Training  0.837662
9      A9_Virus_free_material  1.000000
10        A9_Physical_Removal  0.896266
11          A10_Other_farmers  1.000000
12      A10_Reputable_Sources  1.000000
13                   A10_IITA  1.000000
14                       A11a  1.000000
15               A11b_Control  1.000000
16             A11b_Trainings  0.896266
17  A11b_Indirect_Interaction  1.000000
18             A11b_Diagnosis  1.000000
19              B5_Distortion  1.000000
20                  B5_Mosaic       NaN
21      B5_Yellow-Colouration  1.000000
22              B5_Whiteflies  1.000000
23               B5_Low_Yield  1.000000
24          D3_Infrastructure  1.000000
25                   D3_Funds  1.000000
26               D3_Trainings  0.866310
27                  D3_Inputs  0.835526
28                D3_Mobility  1.000000
29             D3_Recruitment  1.000000
30           D4_More_Research  0.835526
31            D4_Intervention  1.000000
32      D4_Planting_Materials  0.933155
33                D4_Training  0.798387
34     D5_Good_farm_Practices  1.000000
35             D5_Cooperation  0.788136
36        E3_Physical_Removal  1.000000
37                    E3_Burn  1.000000
38                  E3_Report  1.000000

In [39]:
df_scores.to_csv('Extension officers Interater Agreement.csv')